# Gradle
.gradle/
build/

# Local configuration
local.properties

# Log/OS Files
*.log
.DS_Store
Thumbs.db

# Android Studio / IntelliJ
*.iml
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/deploymentTargetDropDown.xml
captures/
.externalNativeBuild/
.cxx/

# Output
*.aab
*.apk
output-metadata.json

# Keystore & Secrets
*.jks
*.keystore
google-services.json
secrets.properties

# Android Profiling
*.hprof